* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}
body {
    height: 100vh;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-main {
    background-color: #F0F0F0;
    height: 95vh;
    width: 44vh;
    border-radius: 36px;
    filter: drop-shadow(30px 10px 4px #4444dd);
}
.calculator-top {
    width: 100%;
    height: 40%;
    border-radius: 36px 36px 10px 10px;
    background-color: #191919;
}
.calculator-bottom {
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 12px;
}
.calculator-bottom > * {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.column-one > * {
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    background-color: #F0F0F0;
    filter:drop-shadow(4px 4px 2px rgb(199, 199, 199)) drop-shadow( -4px -4px 2px white);
}
.column-two > * {
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    background-color: #F0F0F0;
    filter:drop-shadow(4px 4px 2px rgb(199, 199, 199)) drop-shadow( -4px -4px 2px white);
}

.column-three > * {
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    background-color: #F0F0F0;
    filter:drop-shadow(4px 4px 2px rgb(199, 199, 199)) drop-shadow( -4px -4px 2px white);
}

.column-four > * {
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    background-color: #F0F0F0;
    filter:drop-shadow(4px 4px 2px rgb(199, 199, 199)) drop-shadow( -4px -4px 2px white);
}
.column-five > * {
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    background-color: #F0F0F0;
    filter:drop-shadow(4px 4px 2px rgb(199, 199, 199)) drop-shadow( -4px -4px 2px white);
}
.extra {
    background-color: #B600F9;
}
.num {
    color:rgb(53, 53, 53);
}
.operator {
    color:gray
}
